# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.env
*.egg-info/

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store

# Editors
.vscode/
.idea/

# Course-specific
backend/.env
frontend/.env
*.sqlite
backend/uploads/
